body {
    background-color:aliceblue;
    font-family: 'Mulish', sans-serif;
}

form {
    line-height: 27px;
}

#main {
    background-color: antiquewhite;
    text-align: center;
    height: 80vh;
    border-radius: 15px;
    margin: 2% 10%;
    overflow: auto;
}

#top {
    background-color: azure ;
    margin: 2% 10%;
    border-radius: 15px;
}

#top img {
    display: block;
    width: 35%;
    margin: 0 auto;
}